/* Estilos para todos los elementos con la clase "par-impar" */
.par-impar {
    background-color: lightpink;
    font-family: Verdana, DejaVu Sans, sans-serif;
}

/* Estilo específico para el segundo elemento (primer div) */
#segundo {
    color: blue;
    font-size: 36px;
}

/* Estilo específico para el tercer elemento, que tiene múltiples clases */
.tercero {
    font-size: 24px;
}

/* Estilo específico para el cuarto elemento (segundo div) */
#cuarto {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}
